@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #10b981;
  --color-background: #f8fafc;
  --color-card: #ffffff;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-slate-800);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font-sans);
  }
}